

body {
    background-color: #efefef;
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;
    padding:0px;
    margin:0px;
}

#nav {
    position: absolute;
    width: 200px;
    height: 100%;
    padding:0px;
    margin:0px;
    background:url(../img/bg.png) repeat;

    -webkit-box-shadow: 2px 0px 4px #777;
    -moz-box-shadow: 2px 0px 4px #777;
    box-shadow: 2px 0px 4px #777;
}

#content {
    padding: 10px;
    margin-left: 200px;
    height: auto;
    position: absolute;
}