

body {
    background-color: #e1ddd9;
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;
    padding:0px;
    margin:0px;
}

#nav {
    position: absolute;
    width: 200px;
    height: 100%;
    padding:0px;
    margin:0px;
    background: #6BB130;
}

#content {
    margin-left: 200px;
    background-color:#fff;
    height: auto;
    position: absolute;
}